		p{
            font-size: 20px;
            color: whitesmoke;
            
        }
        h1{
            font-size: 35px;
            color: whitesmoke;
        }
		html { 
               background-image:url(../Resim/bayrak.jpg);
				background-repeat: no-repeat;
				background-position: center center;
				background-attachment: fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
        }
		